New explainer for RFC 8118 PDF fragment identifiers

Please add a new explainer as to which PDF fragment identifiers as per [RFC 8118, section 3](https://www.rfc-editor.org/rfc/rfc8118.html#page-3) are supported by Edge.

PS. These identical fragment identifiers are also defined in ISO 32000.